<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Takip Sistemi</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Fitness Takip Sistemi</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'uye_kayit' %}">Üye Kaydı</a></li>
                    <li><a href="{% url 'uye_listesi' %}">Üye Listesi</a></li>
                    <li><a href="{% url 'suresi_biten_uyeler' %}">Süresi Biten Üye Listesi</a></li>
                    <li><a href="{% url 'suresi_yaklasan_uyeler' %}">Süresi Yaklasan Üye Listesi</a></li>
                    <li><a href="{% url 'islem_gecmisi' %}">İslem Gecmisi</a></li>
                    <li><a href="{% url 'mesaj_gecmisi' %}">Mesaj Gecmisi</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
