{% extends "base.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/uye_listele.css' %}">
{% endblock %}

{% block content %}
<h2>Gönderilen Mesajlar</h2>
<table>
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Telefon Numarası</th>
            <th>Mesaj</th>
            <th>Gönderim Tarihi</th>
        </tr>
    </thead>
    <tbody>
        {% for mesaj in mesajlar %}
        <tr>
            <td>{{ mesaj.kullanici.ad_soyad }}</td>
            <td>{{ mesaj.kullanici.tel_no }}</td>
            <td>{{ mesaj.mesaj }}</td>
            <td>{{ mesaj.mesaj_tarihi|date:"d-m-Y H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
