{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/uye_listele.css' %}">
{% endblock %}

{% block content %}
<div class="list-container">
    <h2>Süresi Biten Üye Listesi</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad Soyad</th>
                <th>Başlangıç Tarihi</th>
                <th>Üyelik Süresi (Ay)</th>
                <th>Kalan Gün</th>
                <th>Ücret</th>
                <th>Telefon Numarası</th>
                <th>Notlar</th>
            </tr>
        </thead>
        <tbody>
            {% for uye in suresi_biten_uyeler %}
            <tr>
                <td>{{ uye.id }}</td>
                <td>{{ uye.ad_soyad }}</td>
                <td>{{ uye.baslangic_tarihi }}</td>
                <td>{{ uye.uyelik_suresi_ay }}</td>
                <td>{{ uye.hesapla_kalan_gun }}</td>
                <td>{{ uye.ucret }}</td>
                <td>{{ uye.tel_no }}</td>
                <td>{{ uye.notlar }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
