{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/uye_listele.css' %}">
{% endblock %}

{% block content %}
<div class="list-container">
    <h2>Üyelik Gecmisi</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad Soyad</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitis Tarihi</th>
                <th>Üyelik Süresi (Ay)</th>
                <th>Ücret</th>
                <th>Telefon Numarası</th>
            </tr>
        </thead>
        <tbody>
            {% for uye in uyeler %}
            <tr>
                <td>{{ uye.id }}</td>
                <td>{{ uye.ad_soyad }}</td>
                <td>{{ uye.baslangic_tarihi|date:"d.m.Y" }}</td>
                <td>{{ uye.bitis_tarihi|date:"d.m.Y" }}</td>
                <td>{{ uye.uyelik_suresi_ay }}</td>
                <td>{{ uye.ucret }}</td>
                <td>{{ uye.tel_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
